body {
  font-family: montserrat, Times, sans-serif;
  line-height: 1.4;
}

.center {
  text-align: center;
}

/*image can't be found from pages - Landing.css (maybe move assets into pages?)*/
.pt4 {
  background: url('assets/landing_bg.jpg') no-repeat center center fixed;

  background-size: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 240%;
  height: 100%;
}